body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    
}
h1{
    font-family: 'Anton', sans-serif;
    font-size: 50px;
}
.orange-class{
    color:purple;
    font-size: 60px;
    background: -webkit-linear-gradient(purple,#8a2be2 );
    -webkit-background-clip:text;

    -webkit-text-fill-color: transparent;
  
}
h3{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 50px;
    
}
.half-width{
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
}
section{
    display: flex;
}
.half-width img{
  width: 60%;
  padding-left: px;

  padding-top: 100px;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-family: 'Poppins', sans-serif;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(salmon,orange);
    font-weight: 900;
    
    
    
}
.cover-photo{
    background-image: url(image/cover-image.png);
    
}

    
    


